abbr "art"="php artisan"
abbr "cz"="chezmoi"
abbr "cza"="chezmoi apply"
abbr "cze"="chezmoi edit"
abbr "czr"="chezmoi re-add"
abbr "dc"="docker compose"
abbr "dcd"="docker compose down"
abbr "dcdv"="docker compose down -v"
abbr "dcu"="docker compose up"
abbr "dcud"="docker compose up -d"
abbr "fresh"="php artisan migrate:fresh --seed"
abbr "ld"="lazydocker"
abbr "lg"="lazygit"
abbr "listen"="php artisan queue:listen"
abbr "migrate"="php artisan migrate"
abbr "oc"="opencode"
abbr "op"="ocx oc -p personal"
abbr "ow"="ocx oc -p work"
abbr "pest"="./vendor/bin/pest"
abbr "pestl"="./vendor/bin/pest --parallel"
abbr "pint"="./vendor/bin/pint"
abbr "pintd"="./vendor/bin/pint --dirty"
abbr "pn"="pnpm"
abbr "px"="pnpm dlx"
abbr "sail"="./vendor/bin/sail"
abbr "samfs"="./vendor/bin/sail artisan migrate:fresh --seed"
abbr "sc"="./vendor/bin/sail composer"
abbr "spest"="./vendor/bin/sail pest"
abbr "spint"="./vendor/bin/sail pint"
abbr "st"="speedtest"
abbr "stan"="./vendor/bin/phpstan"
abbr "stest"="./vendor/bin/sail test"
abbr "stestl"="./vendor/bin/sail test --parallel"
abbr "stinker"="./vendor/bin/sail artisan tinker"
abbr "t"="tmux a || tmux new -s 'main'"
abbr "testl"="php artisan test --parallel"
abbr "tinker"="php artisan tinker"
abbr "ts"="tailscale"
abbr "vim"="nvim"
abbr "vite"="./vendor/bin/sail npm run dev"
abbr "work"="php artisan queue:work"
abbr "wta"="wt switch --base dev --create"
abbr "wtr"="wt remove"
abbr "wtrf"="wt remove --force -D"
abbr "wts"="wt switch"

{{ if eq .chezmoi.os "darwin" }}
abbr "rm"="trash"
{{ end }}
