# ~/.zshrc

# ---------- Homebrew ----------
export HOMEBREW_PREFIX="${HOMEBREW_PREFIX:-/opt/homebrew}"


if command -v fzf >/dev/null 2>&1; then
  source <(fzf --zsh)
fi

if command -v zoxide >/dev/null 2>&1; then
  eval "$(zoxide init zsh)"
fi

ZSH_AUTOSUGGEST_STRATEGY=( abbreviations $ZSH_AUTOSUGGEST_STRATEGY )

# ---------- Helpers ----------
setopt AUTO_CD

{{ if eq .chezmoi.os "darwin" }}
export EDITOR="zed --wait"
export VISUAL="zed --wait"
export SSH_AUTH_SOCK="$HOME/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock"
{{ else }}
export EDITOR="nvim"
{{ end }}

# ---------- Aliases ----------
alias l='eza'
alias ls='eza'
alias la='eza -a'
alias ll='eza -lah'
alias t='tmux a || tmux new'

# ---------- Navigation ----------

setopt AUTO_CD

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# ---------- Functions ----------

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	command yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ "$cwd" != "$PWD" ] && [ -d "$cwd" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}


# ---------- History ----------

HISTFILE="$HOME/.zsh_history"
HISTSIZE=10000
SAVEHIST=10000

setopt HIST_IGNORE_SPACE
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_FIND_NO_DUPS
setopt SHARE_HISTORY
setopt INC_APPEND_HISTORY
setopt HIST_REDUCE_BLANKS

bindkey '^[[A' up-line-or-search
bindkey '^[[B' down-line-or-search

# ---------- MISE ----------
eval "$(mise activate zsh)"

# ---------- Plugins ----------
# source antidote
source "${HOMEBREW_PREFIX}/opt/antidote/share/antidote/antidote.zsh"

# initialize plugins statically with ${ZDOTDIR:-$HOME}/.zsh_plugins.txt
antidote load


{{ if eq .chezmoi.os "linux" }}
# bun completions
[ -s "/home/seanm/.bun/_bun" ] && source "/home/seanm/.bun/_bun"

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv zsh)"
{{ end }}

source "$HOME/.completion-for-pnpm.zsh"

# ---------- Prompt ----------
eval "$(starship init zsh)"
