brew "antidote"
brew "btop"
brew "chezmoi"
brew "eza"
brew "fzf"
brew "gh"
brew "lazydocker"
brew "lazygit"
brew "mise"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "tmux"
brew "zoxide"
brew "anomalyco/tap/opencode"
brew "teamookla/speedtest/speedtest"

{{ if eq .chezmoi.os "darwin" }}
# MacOS specific packages
cask "adguard"
cask "balenaetcher"
cask "calibre"
cask "codex"
cask "codex-app"
cask "dbngin"
cask "docker-desktop"
cask "font-symbols-only-nerd-font"
cask "ghostty"
cask "herd"
cask "inkscape"
cask "mac-mouse-fix"
cask "malwarebytes"
cask "monitorcontrol"
cask "netnewswire"
cask "ngrok"
cask "obsidian"
cask "phpstorm"
cask "prismlauncher"
cask "raycast"
cask "sf-symbols"
cask "shottr"
cask "tailscale-app"
cask "tableplus"
cask "tinkerwell"
cask "transmit"
cask "wispr-flow"
cask "yaak"
cask "zed"
cask "zen"
cask "zoom"
mas "Amphetamine", id: 937984704
mas "Bitwarden", id: 1352778147
mas "Blurred", id: 1497527363
mas "Dropover", id: 1355679052
mas "Keynote", id: 361285480
mas "Numbers", id: 361304891
mas "Pages", id: 361309726
mas "Slack", id: 803453959
{{ end }}
