# ~/.zshrc

# ---------- Homebrew ----------
export HOMEBREW_PREFIX="${HOMEBREW_PREFIX:-/opt/homebrew}"

# ---------- Helpers ----------
{{ if eq .chezmoi.os "darwin" }}
export SSH_AUTH_SOCK="$HOME/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock"
{{ end }}

export EDITOR="nvim"

export OMO_SEND_ANONYMOUS_TELEMETRY=0
export OMO_DISABLE_POSTHOG=1
export SBX_NO_TELEMETRY=1

if command -v wt >/dev/null 2>&1; then eval "$(command wt config shell init zsh)"; fi

# ---------- Aliases ----------
alias l='eza'
alias ls='eza'
alias la='eza -a'
alias ll='eza -lah'

# ---------- Navigation ----------

setopt AUTO_CD

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# ---------- Functions ----------

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	command yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ "$cwd" != "$PWD" ] && [ -d "$cwd" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}


# ---------- History ----------

HISTFILE="$HOME/.zsh_history"
HISTSIZE=10000
SAVEHIST=10000

setopt HIST_IGNORE_SPACE
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_FIND_NO_DUPS
setopt SHARE_HISTORY
setopt INC_APPEND_HISTORY
setopt HIST_REDUCE_BLANKS

bindkey '^[[A' up-line-or-search
bindkey '^[[B' down-line-or-search

# ---------- MISE ----------
eval "$(mise activate zsh)"

# ---------- HERD ----------
{{ if eq .chezmoi.os "darwin" }}
# Laravel Herd (macOS only)
export HERD_PHP_83_INI_SCAN_DIR="$HOME/Library/Application Support/Herd/config/php/83/"
export HERD_PHP_84_INI_SCAN_DIR="$HOME/Library/Application Support/Herd/config/php/84/"
export HERD_PHP_85_INI_SCAN_DIR="$HOME/Library/Application Support/Herd/config/php/85/"
{{ end }}

# ---------- PATH ----------

# Deduplicated PATH handling
typeset -U path PATH

path=(
  "$HOME/.composer/vendor/bin"
  "$HOME/.local/bin"
{{ if eq .chezmoi.os "darwin" }}
  "$HOME/Library/Application Support/Herd/bin"
  "/Users/Shared/DBngin/mariadb/10.11.6_arm/bin"
  "/Users/Shared/DBngin/postgresql/17.0/bin"
  "/Users/Shared/DBngin/redis/7.0.0/bin"
{{ end }}
  $path
)

export PATH

# ---------- Plugins ----------
# source antidote
source "${HOMEBREW_PREFIX}/opt/antidote/share/antidote/antidote.zsh"

# initialize plugins statically with ${ZDOTDIR:-$HOME}/.zsh_plugins.txt
antidote load

{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv zsh)"
{{ end }}

source "$HOME/.completion-for-pnpm.zsh"

if command -v fzf >/dev/null 2>&1; then
  source <(fzf --zsh)
fi

if command -v zoxide >/dev/null 2>&1; then
  eval "$(zoxide init zsh)"
fi

ZSH_AUTOSUGGEST_STRATEGY=( abbreviations $ZSH_AUTOSUGGEST_STRATEGY )

export OPENROUTER_API_KEY="{{ (bitwardenSecrets "6dbc6670-1a36-49e2-afcc-b42f00e04192" .bwToken).value }}"

# ---------- Prompt ----------
eval "$(starship init zsh)"
